# Combining Data Types

## Casting, Calculation, and Concatination

Python is a *loosely typed* programming language, meaning that variables do not need to be explicitly declared alongside their data type, and they can sometimes dynamically change type to suit a particular requirement.

### Casting

Sometimes it is useful to explicitly force a variable to change from one data type to another. We can do this with *type casting,* re-assigning variables the basic data types int, float, string, or boolean. The syntax doing this is:

```python
float(variable)  # re-assigns a variable as data type "float"

int(variable)  # re-assigns a variable as data type "int"

str(variable)  # re-assigns a variable as data type "str"

bool(variable)  # re-assigns a variable as data type "boolean"
```

Casting to float will add a decimal place to an integer, or convert the string `"3.0"` to the float `3.0`. The boolean `False` will be converted to `0.0` and `True` to `1.0`

In [ ]:
float(3)

In [ ]:
float("3.0")

In [ ]:
float(True)

Casting from float to int will *truncate* the decimal place, **not round it** (if you want to round a number to the nearest integer, use the built-in function ```round()```) Booleans `True` and `False` are converted to `1` and `0`.

In [ ]:
int(2.0)

In [ ]:
int(2.9)

In [ ]:
round(2.9)

In [ ]:
int(False)

In [ ]:
int("19")

Casting to a string will return a string containing the number or boolean value

In [ ]:
str(29)

In [ ]:
str(29.1)

In [ ]:
str(True)

Casting to boolean will return `False` for the integer `0`, float `0.0` or empty string "", and `True` for pretty much anything else

In [ ]:
bool(0)

In [ ]:
bool(1.0)

In [ ]:
bool('')

In [ ]:
bool("pirates")

Casting only works within a valid range of variables that can be converted. Invalid type casts will raise an *error*:

In [ ]:
int("fourteen")

### Calculations

For many operations, *type casting* occurs automatically. Python's built-in mathematical functions work with any combination of *int* and *float* data types, and the python interpreter will assign the output as type *int* if possible, or *float* if not.

In [ ]:
ans = 6 + 2
ans

In [ ]:
type(ans)

In [ ]:
ans = 8 - 5.2
ans

In [ ]:
type(ans)

Similarly for multiplication and division:

In [ ]:
ans = 4 * 2
type(ans)

In [ ]:
ans = 5 / 2
type(ans)

### Concatenation/Formatted Strings

Often, we would like to stick strings together, or express a numerical value within an existing string. The python syntax offers several ways to do this. 

1. The `+` operator works to *concatenate* strings together, i.e. take the string to the right of the operator and stick it to the end of the string on the left

In [ ]:
str1 = "race"
str2 = "car"

str1 + str2

However, this doesn't work for combinations of string and numeric data types, as the `+` operator has a different meaning for int and float -- the interpreter can't figure out whether to add numeric values or concatenate strings.

In [ ]:
num = 3
print(num + " blind mice")

There are a few ways to overcome this problem. 

A) Using *type casting*:

In [ ]:
print(str(3) + " blind mice")

B) Use a *tuple* containing strings and numeric data:

In [ ]:
print(3, "blind mice")

C) Using *f string literals*. Type the letter `f` at the beginning of a string, then insert any variable inside of curly brackets `{variable}` and it will format the variable into the string (This is the best way that will work in the largest variety of contexts):

In [ ]:
print(f"{3} blind mice")